//
//  EnglishCentral_Shared.xcconfig
//  EnglishCentralApp
//
//  Created by Mailyn Sajorda on 28/06/2019.
//  Copyright © 2019 Mailyn Sajorda. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../../Shared/Shared.xcconfig"

EC_DISPLAY_NAME = EnglishCentral
EC_BUILD_DATE = 20190628
EC_BUILD_VERSION = 5.0
EC_BUILD_NUMBER_DEBUG = 5.0.rc1
EC_BUILD_NUMBER_RELEASE = 5.0.1
