//
//  Shared.xcconfig
//  EnglishCentralApp
//
//  Created by Mailyn Sajorda on 27/06/2019.
//  Copyright © 2019 Mailyn Sajorda. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DEV_URL = devdemo.com
STAGING_URL = stagingdemo.com
PROD_URL = demo.com
